.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.registerplot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registerplotdetails{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 29vh;
}

.login{
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 29vh;
}
.login:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.registerform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map{
    height: 90vh;
    width: 100%;
}